//@import "compass_twitter_bootstrap_awesome";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

body {
    margin-top: 60px;
    font-family: 'Open Sans', sans-serif;
}

.server-dialog {
    margin-bottom: 0;
}

tr.disabled {
    opacity: 0.3;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.nav li .action-icon {
    float: right;
    margin: 4px 0;
}

.ace_editor_wrapper .ace_editor {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 6px;
    font-family: Menlo, "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
}

.ace_editor_wrapper {
    position: relative;
    height: 500px;
    border-radius: 6px;
}

.ace_marker-layer .ace_selection {
    position: absolute;
    z-index: 4;
    background: rgb(181, 213, 255);
}

.code-well {
    background: #000;
}

.yaml-table {
    table {
        margin-bottom: 0;
        margin-top: 0;
        border: 1px solid #DDD;
    }
    input, select {
        width: 100% !important;
        font-size: 12px;
        padding: 2px;
        line-height: 16px;
        height: 18px;
        margin-bottom: 0;
        box-sizing: border-box;
    }
}

.sidebar-nav li {
    font-size: 12px;
}