<table class="yaml-table table table-condensed">
    <tr ng-repeat="row in model">
        <td><a class="btn btn-mini btn-info" ng-click="removeRow($event)" href="#"><i class="icon-remove-sign"></i></a></td>
        <td><input class="input-mini" type="text" ng-model="row.key" required/></td>
        <td><cell-input class="input-mini" model="row.val" type="row.type"></cell-input></td>
        <td><select class="input-mini" ng-model="row.type" ng-options="type.name as type.label for type in cellTypes"></select></td>
    </tr>
    <tr>
        <td colspan="4">
            <a href="#" ng-click="addField($event)" class="btn btn-block btn-mini btn-info"><i class="icon-plus-sign"></i> Add New Field</a>
        </td>
    </tr>
</table>