<div ng-controller="YamlCtrl">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav pull-right">
                <li><a href="#" ng-click="saveFile($event)"><i class="icon-save"></i> Save</a></li>
                <li><a href="#" ng-click="deleteFile($event)"><i class="icon-trash"></i> Delete</a></li>
                <li><a href="#" ng-click="reloadFile($event)"><i class="icon-refresh"></i> Reload</a></li>
            </ul>
        </div>
    </div>
    <table class="yaml-table table table-bordered table-striped">
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in activeItem.data">
            <td width="20"><a class="btn btn-mini btn-info" ng-click="removeRow($event)" href="#"><i class="icon-remove-sign"></i></a></td>
            <td><cell-input model="row.key" type="'string'"></cell-input></td>
            <td><cell-input model="row.val" type="row.type"></cell-input></td>
            <td><cell-input model="row.type" type="'typeselect'"></cell-input></td>
        </tr>
        <tr>
            <td colspan="4">
                <a href="#" ng-click="addField($event, activeItem.data)" class="btn btn-block btn-info"><i class="icon-plus-sign"></i> Add New Field</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="well code-well">
        <div ui-ace="editorPref"
         ng-model="activeItem.yml"
         scope-instance="aceInstance"></div>
    </div>
</div>