<div class="modal-header">
    <h4>MC Confetti Login</h4>
</div>
<form class="server-dialog" ng-submit="connect()">
    <div class="modal-body">
        <fieldset class="form-horizontal">

            <div ng-show="connection.error">
                <alert type="'error'">{{connection.error}}</alert>
            </div>

            <div ng-show="login.error">
                <alert type="'error'">{{login.error}}</alert>
            </div>

            <div ng-class="{
                'success' : connection.connected,
                'error' : connection.error
            }" class="control-group">
                <label class="control-label" for="host">Host:</label>
                <div class="controls">
                    <input type="text" id="host" ng-model="host" class="input-large">
                </div>
            </div>

            <div ng-class="{
                'success' : connection.connected,
                'error' : connection.error
            }" class="control-group">
                <label class="control-label" for="port">Port:</label>
                <div class="controls">
                    <input type="number" id="port" ng-model="port" class="input-large">
                </div>
            </div>

            <div ng-class="{
                'success' : login.loggedin,
                'error' : login.error
            }" class="control-group">
                <label class="control-label" for="salt">Salt:</label>
                <div class="controls">
                    <input type="password" id="salt" ng-model="salt" class="input-large">
                </div>
            </div>

            <div ng-class="{
                'success' : login.loggedin,
                'error' : login.error
            }" class="control-group">
                <label class="control-label" for="username">Username:</label>
                <div class="controls">
                    <input type="text" id="username" ng-model="username" class="input-large">
                </div>
            </div>

            <div ng-class="{
                'success' : login.loggedin,
                'error' : login.error
            }" class="control-group">
                <label class="control-label" for="password">Password:</label>
                <div class="controls">
                    <input type="password" id="password" ng-model="password" class="input-large">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id="remember" ng-model="remember" class="input-large"> Save Server Credentials
                    </label>
                </div>
            </div>

        </fieldset>
    </div>
    <div class="modal-footer">
        <input ng-class="{
            'disabled' : loading
        }" type="submit" value="{{loading && 'Connecting...' || 'Connect'}}" class="btn btn-primary" />
    </div>
</form>